@page "/edit/{id:int}"
@inject ApplicationDbContext dbContext
@inject NavigationManager NavigationManager
@using AppBasicaCRUD.Models
@using AppBasicaCRUD.Data

<h3>Edit</h3>

<EditForm Model="@producto" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <InputText id="Nombre" class="form-control" @bind-Value="producto.Nombre" />
    </div>
    <div class="form-group">
        <label for="Precio">Precio</label>
        <InputNumber id="Precio" class="form-control" @bind-Value="producto.Precio" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }

    Producto producto = new Producto();

    protected override async Task OnInitializedAsync()
    {
        producto = await dbContext.Productos.FindAsync(id);
    }

    private async void HandleValidSubmit()
    {
        dbContext.Productos.Update(producto);
        await dbContext.SaveChangesAsync();

        NavigationManager.NavigateTo("/productos");
    }
}
