@page "/edit/{id:int}"
@inject ApplicationDbContext dbContext
@inject NavigationManager NavigationManager

<h3>Edit</h3>

<EditForm Model="@person" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="Name">Name</label>
        <InputText id="Name" class="form-control" @bind-Value="person.Name" />
    </div>
    <div class="form-group">
        <label for="Age">Age</label>
        <InputNumber id="Age" class="form-control" @bind-Value="person.Age" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }

    Person person = new Person();

    protected override async Task OnInitializedAsync()
    {
        person = await dbContext.People.FindAsync(id);
    }

    private async void HandleValidSubmit()
    {
        dbContext.People.Update(person);
        await dbContext.SaveChangesAsync();

        NavigationManager.NavigateTo("/");
    }
}